
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8b4b3;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
}

button {
    background-color: #6e90ffd5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover {
    background-color: #005f6b;
}

main {
    padding: 2rem
}